ALLOWED_HOSTS=172.11.0.11
STATIC_ROOT=/var/webapps/muzicbox/www/static/
CACHE_URL=rediscache://127.0.0.1:xxxxxx:1?client_class=django_redis.client.DefaultClient
DATABASE_URL=psql://xxxxxxxxx:dev_secret_pass@127.0.0.1:5432/xxxxxxx
MEDIA_ROOT=/var/webapps/xxxxxxx/www/media/
DEBUG=True
BROKER_URL=redis://xxxxxxxx:6379/1
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_RESULT_BACKEND=redis://xxxxxx:xxxxxx/0
SENTRY_DSN=https://xxxxxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxx@sentry.io/xxxxxx
LAST_FM_KEY=xxxxxxxxxxxxxxxxxx
SOCIAL_AUTH_FACEBOOK_KEY=xxxxxxxxxxxxxxxxxx
SOCIAL_AUTH_FACEBOOK_SECRET=xxxxxxxxxxxxxxxxxx
