{
  "extends": "stylelint-config-airbnb",
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
