* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
}

a,
article,
aside,
audio,
body,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
li,
menu,
nav,
p,
section,
small,
span,
strong,
table,
tbody,
td,
th,
thead,
tr,
ul {
  border: 0;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  border: 0;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  color: #333;
  background-color: #fff;
}

div {
  display: block;
}

:global a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

:global .a-underlined:hover {
  text-decoration: underline;
}

:global .link-dark {
  color: hsla(0, 0%, 0%, 0.71);
}

:global .link-light {
  color: rgba(0, 0, 0, 0.65);
}

:global .link-blue {
  color: #22568a;
}

:global .link-subtle {
  color: hsla(0, 0%, 100%, 0.6);
  transition: color 0.2s;
}

:global .active {
  color: #fff;
}

input[type='search'] {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-weight: normal;
  color: #666;
  outline: 0;
  padding: 5px 7px;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
}

input[type='search']:focus {
  border: 2px solid silver;
}

input[type='search']:hover {
  border: 2px solid silver;
  transition: all 0.5s cubic-bezier(0, 0, 0, 2.41);
}

:global .common-link {
  text-decoration: none;
}

:global .pointer {
  cursor: pointer;
}

:global button:focus {
  outline: none;
}

:global .m-r-10 {
  margin-right: 10px;
}

:global .m-30 {
  margin: 30px;
}

:global .m-3vh {
  margin-top: 3vh;
}

:global .wrapper {
  width: 100%;
  position: relative;
  align-self: center;
  border-radius: 5px;
}

:global .all-transitions-300 {
  transition: all 300ms ease-in-out;
}

:global .bg-white {
  background-color: #fff !important;
}

:global .font-small {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.88rem;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
}

:global .font-medium {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

:global .font-big {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 1.2rem;
}

:global .content--truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}

:global .font-light {
  font-weight: normal;
}

:global .hidden {
  display: none;
}

:global .hidden_opacity {
  opacity: 0 !important;
}

:global .default-center {
  display: flex;
  justify-content: center;
}

:global .default-link {
  color: #0037ff;
}

/* Small screens */
@media (max-width: 639px) {
  html {
    font-size: 15px;
  }

  input[type='search'] {
    font-size: 16px;
  }
}

/* ----------------------------- */

/*# APP STYLES */

/* ------------------------------- */

:global .app {
  position: absolute;
  top: 42px;
  bottom: 70px;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  display: flex;
}

:global .app__container {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

:global .app__center {
  flex: 5;
  color: rgb(0, 0, 0);
  background-color: #fafafa;
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  height: 100%;
  transform: translate(0, 0);
  overflow-x: hidden;
  overflow-y: auto;
}

:global .app__left {
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  position: relative;
  z-index: 1300;
}

:global .search-error-text {
  text-align: center;
  font-size: 0.9rem;
}

:global .app__left--open {
  transform: translate(0, 0) !important;
}

:global .app__left__container {
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

:global .marked {
  background-color: rgba(216, 216, 216, 0.78);
  color: #060606;
  pointer-events: none;
}

:global .cant-touch {
  pointer-events: none;
}

/* buttons */
:global .btn {
  padding: 12px 38px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  border-width: 2px;
  text-transform: capitalize;
  letter-spacing: 0.25px;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

:global .btn--success {
  background-color: #1a73e8;
}

:global .btn--success:hover {
  box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);
  background-color: #297be6;
}

:global .btn:disabled {
  cursor: default;
  background-color: #91caf5b0;
  box-shadow: none;
}

:global .btn:disabled:hover {
  opacity: 1;
}

:global .list-nostyle {
  list-style: none;
  margin: 0;
}

/* scroll button */
:global .scroll {
  color: #fdfdfd;
  opacity: 0.2;
  background-color: #313131;
  width: 23px;
  height: 44px;
  position: fixed;
  bottom: 79px;
  right: 10px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  transition: opacity 0.2s;
}

:global .scroll:hover {
  opacity: 1;
}

:global .arrow-up {
  color: white;
}

/* overwriting classes for parsed lyrics */
:global .verse {
  color: rgba(0, 0, 0, 0.79);
  margin-top: 10px;
}

:global .verse:first-child {
  margin-top: 0;
}

/* Custom scrollbar */
:global .scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgba(229, 229, 229, 0.62);
}

:global .scrollbar-custom::-webkit-scrollbar {
  width: 7px;
}

:global .scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px #fff;
}

/* Medium screens */

@media (max-width: 991px) {
  :global .app__left {
    width: 230px;
    left: 0;
    top: 42px;
    bottom: 70px;
    position: fixed;
    display: block;
    transform: translate(-240px, 0);
  }

  :global .app__right {
    display: none;
  }
}

/* Small screens */
@media (max-width: 639px) {
  :global .app__container {
    margin-left: 3px;
    margin-right: 3px;
  }

  :global .scroll {
    display: none;
  }

  input[type='search'] {
    border: 2px solid silver;
  }

  /* disabling hover for small devices */
  :global .a-underlined:hover {
    text-decoration: initial;
  }
}
