{% load static %}
<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Best ever muzic storage website">
  <meta name="author" content="Artem B.">
  <meta name="theme-color" content="#ffffff">
  <meta content="MuzicBox" property="og:title"/>
  <meta content="music" property="og:type"/>
  <meta content="{{ request.build_absolute_uri }}" property="og:url"/>
  <meta content="Best ever muzic storage website" property="og:description"/>
  <meta content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/muzicbox_mega.png' %}" property="og:image"/>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/manifest.json' %}">
  <title>MuzicBox</title>
    <script>
        if (!window.hasOwnProperty('opts')) {
            window.opts = {};
        }
        window.opts.is_authenticated = {{ request.user.is_authenticated|yesno:'true,false' }};
        if (window.opts.is_authenticated) {
          window.opts.user_container = JSON.parse('{{  request.user.profile.user_container | safe }}');
        }
    </script>
</head>

<body>
<noscript>
  <h1 style="z-index: 99999;position: fixed;color: black;">Hey, it seems that you've disabled javascript, plz enable it )</h1>
</noscript>
{% include 'includes/loader.html' %}

<div id="root">
</div>

<script src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
{% if debug %}
  <script>Raven.config('https://e4324708c61040909daaed217fc879f5@sentry.io/1258839').install();</script>
{% else %}
  <script>Raven.config('https://666cbcf624ac42a6936a96f8507dbf5e@sentry.io/1259461').install();</script>
{% endif %}
<link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<script src="{% static 'build/js/main.js' %}"></script>
<link href="{% static 'build/css/main.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Monoton%7CRoboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
</body>
</html>
