.playlist--border {
  border-bottom: 2px solid white;
}

.playlist--hover:hover {
  background-color: rgba(105, 103, 103, 0.06);
}

.playlist--active {
  background-color: #f2f2f2 !important;
}

.playlist--active:hover {
  background-color: #f2f2f2;
}

.playlist__song {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  line-height: 44px;
}

.playlist__song__overlay {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  z-index: 1;
  opacity: 0;
}

:global .playlist__song__overlay--loading {
  left: 4px;
  top: 4px;
  width: initial;
  height: initial;
  font-size: 22px;
}

/* song image */
.playlist__song__image {
  margin: 7px;
  height: 30px;
  width: 30px;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}

.playlist__right__play_next {
  display: none;
  align-items: center;
  padding-right: 19px;
  padding-left: 13px;
  color: #8a8a8a;
  font-size: 17px;
}

.playlist__right__play_next--active {
  display: flex;
}

.playlist__right__kbs {
  display: none;
  margin-left: 2px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  color: #8a8a8a;
  font-weight: normal;
}

/* song artist */
.playlist__song__artist__image {
  opacity: 1;
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
}

.playlist__song__author__name {
  margin-left: 8px;
  max-width: calc(50% - 63px);
}

.playlist__separator {
  padding: 0 8px;
  color: #656565;
}

.playlist__song__title {
  color: #656565;
  max-width: calc(50% - 49px);
}

.playlist__song__title--has-lyrics:hover {
  text-decoration: underline;
}

/* playlist song time */
.playlist__right__time {
  padding-left: 5px;
  padding-right: 12px;
  margin-left: 2px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  color: #999;
}

.playlist__right__play_next--active + .playlist__right__time {
  display: none;
}

.playlist--active .playlist__right div {
  color: #0037ff;
}

.playlist__right__play_next:hover {
  color: #0037ff;
}

.playlist--hover:hover .playlist__right__play_next--active {
  color: #0037ff;
}

.playlist--active .playlist__right__kbs {
  display: block !important;
}

.playlist--hover:hover .playlist__right__kbs {
  display: block;
}

.playlist--hover:hover .playlist__right__play_next {
  display: flex;
}

.playlist--active:hover .playlist__right__play_next {
  display: none !important;
}

.playlist--hover:hover .playlist__right__time {
  display: none;
}

.playlist--active:hover .playlist__right__time {
  display: block;
}

.playlist--active .playlist__song__overlay {
  opacity: 1 !important;
}

.playlist--active .playlist__song__artist__image {
  filter: brightness(50%) !important;
}

.playlist--hover:hover .playlist__song__overlay {
  opacity: 1;
}

.playlist--hover:hover .playlist__song__artist__image {
  filter: brightness(50%);
}

.playlist__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* song lyrics */
.playlist__lyrics {
  padding: 14px 20px 10px 52px;
  position: relative;
  min-height: 100px;
}

.playlist__lyrics__inner {
  font-size: 0.9rem;
  -webkit-font-smoothing: antialiased;
  max-height: 435px;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  line-height: 16px;
  color: #444;
}

/* Small screens */
@media (max-width: 640px) {
  .playlist__song__title--has-lyrics {
    text-decoration: underline;
  }

  .playlist__lyrics {
    padding: 14px 0 10px 11px;
  }

  .playlist__right__play_next {
    display: flex;
    padding-left: 12px;
    padding-right: 10px;
  }

  .playlist--active .playlist__right__play_next {
    display: none;
  }

  .playlist--active .playlist__song__author__name {
    max-width: calc(50% - 63px);
  }

  .playlist--active .playlist__song__title {
    max-width: calc(50% - 77px);
  }

  .playlist__right__play_next--active {
    color: #0037ff;
  }

  .playlist__right__time {
    display: none;
  }

  .playlist__right__kbs {
    padding-right: 10px;
  }

  /* disabling hover for small devices */
  .playlist--active:hover,
  .playlist--hover:hover {
    background-color: inherit;
  }

  .playlist__right__play_next:hover {
    color: #8a8a8a;
  }

  .playlist--hover:hover .playlist__right__play_next--active {
    color: #0037ff;
  }

  .playlist--hover:hover .playlist__right__kbs {
    display: none;
  }

  .playlist--hover:hover .playlist__right__play_next {
    display: inherit;
  }

  .playlist--active:hover .playlist__right__play_next {
    display: inherit;
  }

  .playlist--hover:hover .playlist__right__time {
    display: none;
  }

  .playlist--active:hover .playlist__right__time {
    display: none;
  }

  .playlist--hover:hover .playlist__song__overlay {
    opacity: 0;
  }

  .playlist--hover:hover .playlist__song__artist__image {
    filter: inherit;
  }
}
