.h3-custom {
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
  font-weight: 700;
}

.question {
  margin: 10px 0;
  text-align: left;
  color: #464646;
  font-weight: 800;
}

.answer_block {
  list-style: none;
  margin: 10px 40px;
  display: block;
  text-align: left;
}

.answer {
  font-size: 14.5px;
  color: rgb(55, 68, 78);
  line-height: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
}

.answer a {
  color: #0037ff;
}

.answer span {
  color: #0037ff;
}

@media (max-width: 640px) {

  .answer_block {
    list-style: initial;
    margin: 10px 18px;
  }
}
