.dropzone {
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  cursor: pointer;
  border-radius: 5px;
}

.dropzone div {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropzone--disabled {
  opacity: 0.6;
  cursor: default;
}

.dropzone__upload-text {
  font-family: 'Monoton', cursive;
  margin: 2vh;
  text-align: center;
  font-size: 2rem;
  word-spacing: 1rem;
}

.button__cotainer {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 3vh;
}

.seconds {
  display: flex;
  background-color: #e6e6e6;
  height: 6px;
  margin: auto;
  border-radius: 2px;
  justify-self: center;
  align-self: center;
  width: calc(80% - 80px);
  min-width: 490px;
}

.bar {
  background: #1db954;
  border-radius: inherit;
  width: 0%;
  transition: width 0.3s linear;
}

/* Small screens */
@media (max-width: 639px) {
  .dropzone__upload-text {
    margin: 1vh;
  }

  .button__cotainer {
    margin-top: 1vh;
  }
}
